::selection {
  background: hotpink;
  color: black;
}

:root {
  background: indigo;
  color: pink;
}

:any-link {
  color: #ee1;
}

em {
  color: aquamarine;
}

data {
  text-shadow:
   -3vw -3vh 0 darkmagenta,
   -2vw -2vh 0 darkorchid,
    -1vw -1vh 0 darkviolet,
    1vw 1vh 0 chocolate,
    2vw 2vh 0 chocolate,
    3vw 3vh 0 chocolate;
}
